*.pyc
*~
.DS_Store
.ipynb_checkpoints
.sass-cache
.jekyll-cache/
.jekyll-metadata
__pycache__
_site
.Rproj.user
.Rhistory
.RData
.bundle/
.vendor/
vendor/
.docker-vendor/
Gemfile.lock
.*history
data
*.Rproj
fig/CG000204_ChromiumNextGEMSingleCell3_v3.1_Rev_D.pdf
fig/lexogen.README
figures_code.txt
testing*.R
fig/*.pptx
fig/cellranger_README.txt
